<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="GhostmonkMainSiteModelContainer" connectionString="metadata=res://*/GhostmonkMainSiteModelContainer.csdl|res://*/GhostmonkMainSiteModelContainer.ssdl|res://*/GhostmonkMainSiteModelContainer.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local)\GHOSTMONK;Initial Catalog=GhostmonkMainSite;Integrated Security=True;MultipleActiveResultSets=True;User ID=localhost;&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>